version: "3"

services:
  module:
    image: node:22-slim
    working_dir: /app
    volumes:
      - .:/app
    env_file: ./.env
    command: sh -c "apt-get update -y && apt-get install -y openssl && npm i -g pnpm && pnpm install --frozen-lockfile && pnpm exec prisma generate"

  server:
    image: node:22-slim
    working_dir: /app
    volumes:
      - .:/app
    env_file: ./.env
    depends_on:
      module:
        condition: service_completed_successfully
    command: sh -c "npm i -g pnpm && pnpm start:dev"
    ports:
      - 4000:4000
